<!-- Navbar  -->
<nav class="navbar navbar-expand-lg navbar-light bg-my-nav">
    <a class="navbar-brand" href="#">
        <img src="assets/Icons/icon_disco_100.png">
    </a>

    <button class="navbar-toggler" type="button"  (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse show"
    [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link my-nav-link" (click)="goToAbout()">About</a>
            </li>
            <li class="nav-item">
                <a *ngIf="!user" (click)="login()" class="nav-link my-nav-link">Log In</a>
                <a *ngIf="user" (click)="logout()" class="nav-link my-nav-link">Log Out</a>
            </li>
        </ul>
    </div>
</nav>