<div class="row" style="margin: auto;">
    <div mx-auto>
        <div>
            <p></p>
            <a href="https://play.google.com/store/apps/details?id=com.stimitom.erasmuspartyapp">
                Erasmus Party App for Android</a>
            
            <p></p>
            
            <a href="https://www.privacypolicies.com/privacy/view/063e11fc32436155079e19dc4fc6e9f1">
                Privacy Policy of Erasmus Party App</a>
        </div>
        <p></p>
     
        <p>Feedback to t.stimakovits@outlook.com</p>

        <p>Created by Thomas Stimakovits</p>
    </div>
</div>