<div class="row">
    <div class="col-4 mx-auto">
     
        <!-- User Registration Form -->
        <div class="card">
            <div class="card-header">
                Registration
            </div>
            <div class="card-body">
                <form #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm)">
                    <!-- ERROR TEMPLATE -->
                    <div class="col-4 mx-auto alert alert-danger" *ngIf="authError">
                        {{ auth.error?.message }}
                    </div>
                    <div class="form-group">
                        <input ngModel #email="ngModel" required name="email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email">
                    </div>
                    <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                        Email is required
                    </div>
                    <div class="form-group">
                        <input ngModel #username="ngModel" required type="email" class="form-control" name="username" placeholder="Username">
                        <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
                        Username is required
                    </div>
                    </div>
                    
                    <div class="form-group">
                        <select ngModel #nationality="ngModel" class="form-control"  name="nationality" required>  
                            <option value="" selected disabled>Select your Nationality</option>
                            <option *ngFor="let nationality of nationalitiesList" [value]="nationality">{{ nationality }}</option> 
                        </select>
                    </div>
                    <div class="form-group">
                        <select ngModel #city="ngModel" class="form-control" name="city" required>
                            <option value="" selected disabled>Select your City</option>
                            <option *ngFor="let city of cityList" [value]="city">{{ city }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input ngModel #password="ngModel" type="password" class="form-control" name="password" aria-describedby="passwordHelp" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="inputConfirmPassword" aria-describedby="passwordHelp" placeholder="Confirm Password">
                    </div>
                    <button class="btn btn-primary" type="submit" [disabled]="!userRegForm.form.valid">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>
