<div class="row">
    <div class="col-4 mx-auto">
        <!-- ERROR TEMPLATE -->
        <div class="col-4 mx-auto alert alert-danger" *ngIf="authError">
            {{ auth.error?.message }}
        </div>
        <!-- User Registration Form -->
        <div class="card">
            <div class="card-header">
                Registration
            </div>
            <div class="card-body">
                <form #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm)">
                    <div class="form-group">
                        <input ngModel #email="ngModel" required name="email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input ngModel #userName="ngModel" required type="text" class="form-control" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <select class="custom-select d-block w-100" (change)="changeNationality($event)" name="nationality" placeholer="Select your nationality">  
                            <option *ngFor="let nationality of nationalitiesList" [ngValue]="nationality">{{ nationality }}</option> 
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="inputNationality">
                            <option value="" selected disabled>Select your City</option>
                            <option [value]="Kaunas_LT">Kaunas,LT</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input ngModel #password="ngModel" type="password" class="form-control" name="inputPassword" aria-describedby="passwordHelp" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="inputConfirmPassword" aria-describedby="passwordHelp" placeholder="Confirm Password">
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
