<div class="row">
    <div class="col-12 col-md-4 mx-auto">

        <!-- User Registration Form -->
        <div class="card">
            <div class="card-header">
                Registration
            </div>
            <div class="card-body">
                <form #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm)">
                    <!-- Actual Form -->
                    <div class="form-group">
                        <input ngModel #email="ngModel" required email name="email" type="email" class="form-control"
                            placeholder="Email">
                    </div>
                    <div *ngIf="email.touched && !email.valid" class="alert alert-danger">
                        A valid email address is required.
                    </div>
                    <div class="form-group">
                        <input ngModel #username="ngModel" required minlength="3" maxlength="30" name="username"
                            type="email" class="form-control" placeholder="Username">
                        <div *ngIf="username.touched && !username.valid" class="alert alert-danger">
                            Username with more than 2 characters is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <select ngModel required name="nationality" class="form-control">
                            <option value="" selected disabled>Select your Nationality</option>
                            <option *ngFor="let nationality of nationalitiesList" [value]="nationality">
                                {{ nationality }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select ngModel required name="city" class="form-control">
                            <option value="" selected disabled>Select your City</option>
                            <option *ngFor="let city of cityList" [value]="city">{{ city }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input ngModel #password="ngModel" required minlength="6" maxlength="25" name="password"
                            type="password" class="form-control" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                    
                        <div class="alert alert-danger" *ngIf="password.touched && password.errors?.minlength">
                            Password needs to be between 6 and 25 characters long.
                        </div>
                    </div>
                    <div class="form-group">
                        <input ngModel #repeatPassword="ngModel" required type="password" class="form-control" name="repeatPassword"
                            placeholder="Confirm Password" pattern="{{ password.value }}">
                         <div class="alert alert-danger" *ngIf="(password.touched && repeatPassword.touched) && (repeatPassword.errors?.pattern)">
                            Passwords do not match.
                         </div>   
                    </div>
                    <button class="btn btn-primary" type="submit" [disabled]="!userRegForm.form.valid">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>