.my-navbar{ 
    min-height: 100px;
    background-color:#939EF8;
    color: #ffffff;
}
.my-nav-link{ 
    color: #ffffff; 
    font-size: larger;
}
.my-nav-link-large{ 
    color: #ffffff; 
    font-size: x-large;
}
.my-navbar-text{ 
    color: #ffffff;
    font-size: x-large;
}
