<!-- Navbar  -->
<header class="navbar my-navbar navbar-expand-md">
    <!-- Branding -->
    <a class="navbar-brand" href="#">
        <img src="assets/Icons/icon_disco_100.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Items -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link my-nav-link-large">Erasmus Party App</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link my-nav-link" href="#">City<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link my-nav-link" href="#">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link  my-nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Profile
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Become your City's Host!</a>
                    <a class="dropdown-item" href="#">Edit Profile</a>

                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link my-nav-link">Login</a>
            </li>
        </ul>
    </div>
</header>

<!-- Main Components -->

<div class="container-fluid" style="margin-top: 20px;">
    <div class="row flex-xl-nowrap">
        <!-- Venues-List-->
        <div class="col-sm-12 col-md-7">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <img src="assets/Icons/icon_beer_96.png" class="card-img" alt="bar icon">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title">Venue Name</h5>
                            <p class="card-text">Rating Stars </p>
                            <button class="btn btn-primary">I'm going!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Attend Venue -->
        <div class="col-sm-0 col-md-5">
            <!-- Description -->
            <div class="card mb-3">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col">
                            <h3 class="card-title"> Clicked Venue Name</h3>
                        </div>
                        <div class="col-md-2">
                            <img src="assets/Icons/icon_beer_96.png" class="card-img" alt="bar icon">
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col">
                            <p class="card-text">
                                mo: 00:00 - 24:00<br />
                                tu: 00:00 - 24:00<br />
                                we: 00:00 - 24:00<br />
                                th: 00:00 - 24:00<br />
                                fr: 00:00 - 24:00<br />
                                sa: 00:00 - 24:00<br />
                                so: 00:00 - 24:00
                            </p>
                        </div>
                        <div class="col">
                            <p class="card-text">
                                Address: Laisves...
                            </p>
                        </div>
                    </div>
                    <hr>
                    <!-- Nationalities Cards -->
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-1">
                                <img src="assets/Icons/Resized_Flags/flag_austria.png" class="card-img" alt="flag icon">
                            </div>
                            <div class="col-md-11">
                                <p class="card-text my-nationality-text">Austria</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>